@using controller.Models
@model List<GioHangItem>
<a href="~/GioHang/GioHang" id="cart" class="btn-cart">
    <i class="fas fa-shopping-cart" style="font-size:30px;margin-right:5px;"></i>
    <div style="display:block">
        <span id="shippingcart">Giỏ Hàng @ViewBag.tongsoluong</span>
        <label id="cart-total"></label>
    </div>
</a>
<style>
    .btn-cart {
        padding-top: 40px;
        display: flex;
        align-items:center;
        position:absolute;
        right:0;

    }

    .cart-icon {
        padding: 0 5px;
        font-size: 30px;
    }
</style>
