@model IEnumerable<controller.Models.GioHangItem>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<a href="~/GioHang/GioHang" id="cart" class="btn-cart">
    <i class="cart-icon far fa-shopping-cart"></i>
    <div class="btn-cart-title">
        <span id="shippingcart">Giỏ Hàng</span>
        <br />
        <span id="cart-total">@ViewBag.tongsoluong</span>
    </div>
</a>
<style>
    .btn-cart {
        padding-top:40px;
        display: flex;
    }
    .cart-icon{
        padding:0 5px;
        font-size:20px;
    }
</style>
