@model controller.Models.MENU

@{
    ViewBag.Title = "ChiTietMonAn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-8 col-lg-9 mtb_20">
    <div class="row mt_10 ">
        <div class="col-md-6">
            <div><a class="thumbnails"> <img data-name="product_image" src="@Model.HINH_ANH" alt="" /></a></div>
        </div>
        <div class="col-md-6 prodetail caption product-thumb">
            <h4 data-name="product_name" class="product-name"><a href="#" title="Casual Shirt With Ruffle Hem">@Model.TEN_MON</a></h4>
            <div class="rating">
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span>
            </div>
            <span class="price mb_20">
                <span class="amount"><span class="currencySymbol">$</span>@Model.GIA_MON</span>
            </span>
            <!--<p class="product-desc mtb_30"> More room to move. With 80GB or 160GB of storage and up to 40 hours of battery life, the new iPod classic lets you enjoy up to 40,000 songs or up to 200 hours of video or any combination wherever you go. Cover Flow. Browse through your music collection by flipping..</p>-->
            <div id="product">
                <div class="form-group">
                    <div class="row">
                        <div class="Sort-by col-md-6">
                            <label>Sort by</label>
                            <select name="product_size" id="select-by-size" class="selectpicker form-control">
                                <option>Small</option>
                                <option>Medium</option>
                                <option>Large</option>
                            </select>
                        </div>
                        <div class="Color col-md-6">
                            <label>Color</label>
                            <select name="product_color" id="select-by-color" class="selectpicker form-control">
                                <option>Blue</option>
                                <option>Green</option>
                                <option>Orange</option>
                                <option>White</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="qty mt_30 form-group2">
                    <label>Qty</label>
                    <input name="product_quantity" min="1" value="1" type="number">
                </div>
                <div class="button-group mt_30">
                    <div class="add-to-cart"><a href="#"><span>Add to cart</span></a></div>
                    <div class="wishlist"><a href="#"><span>wishlist</span></a></div>
                    <div class="compare"><a href="#"><span>Compare</span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
